{% extends "layout.html" %}

{% block content %}

{% for post in posts %}

<div class="card mb-4">

    <div class="card-body">

        <div class="d-flex align-items-center mb-3">

            <img
                src="{{ url_for('static', path='samuel.jpg') }}"
                class="rounded-circle me-3"
                width="70"
                height="70"
                alt="Profile Picture">

            <div>

                <h5 class="mb-0">{{ post.author }}</h5>

                <small class="text-muted">
                    {{ post.date_posted }}
                </small>

            </div>

        </div>

        <h3>{{ post.title }}</h3>

        <p>{{ post.content }}</p>

    </div>

</div>

{% endfor %}

{% endblock %}