{% extends "layout.html" %}

{% block content %}

{% for post in posts %}

<article class="media content-section mb-4">

    <img
        src="{{ url_for('static', path='samuel.jpg') }}"
        class="rounded-circle article-img me-3"
        width="64"
        height="64"
        alt="Profile Picture">

    <div class="flex-grow-1">

        <div class="article-metadata mb-2">

            <a class="me-2 text-decoration-none" href="#">
                {{ post.author }}
            </a>

            <small class="text-body-secondary">
                {{ post.date_posted }}
            </small>

        </div>

        <h2>
            <a
                class="article-title text-decoration-none"
                href="{{ url_for('post_page', post_id=post.id) }}">
                {{ post.title }}
            </a>
        </h2>

        <p class="article-content">
            {{ post.content }}
        </p>

    </div>

</article>

{% endfor %}

{% endblock %}